.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.header a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: blue;
}
circle {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.circle.food { background-color: #ffcc99; } /* 食費 */
.circle.dining { background-color: #ff9999; } /* 外食費 */
