<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>入力ページ</title>

    <style>
        /* 追加したスタイル */
        label {
            font-size: 4em;
            /* 4倍の大きさに指定 */
        }

        input {
            font-size: 4em;
            /* 4倍の大きさに指定 */
        }

        button {
            font-size: 4em;
            /* 4倍の大きさに指定 */
        }

    </style>
</head>

<body>

    <div class="header">
        <a href="/">入力ページ</a>
        <a href="/graph">グラフページ</a>
        <a href="/calendar">カレンダーページ</a>
    </div>

    <h1>データ入力ページ</h1>

    <form action="/input" method="post">
        <center>
            <label for="amount">金額を入力してください</label><br>
            <input type="number" id="amount" name="amount" required>
            <br>
        </center>

        <br>
        
        <center>
            <label for="category">カテゴリー</label><br>
            <input type="text" id="category" name="category" required>
            <br>
        </center>

        <center>
            <label for="date">日付</label><br>
            <input type="date" id="date" name="date" required>
            <br>
        </center>

        <br>

        <center>
            <button type="submit" style="background-color: #ff6f61; color: #fff; padding: 25px 35px; font-size: 30px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">保存</button>
        </center>
        <br>
    </form>
</body>

</html>
